<a href="https://colab.research.google.com/github/alvas-education-foundation/sanketh-online-course/blob/master/Day_2_Session_2_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#dict.clear()
#Removes all elements of dictionary dict
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

In [2]:
#dict.items()
#Returns a list of dict's (key, value) tuple pairs
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [3]:
#dict.copy()
#Returns a copy of dictionary dict
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

In [4]:
#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [5]:
#Python Program to Sum All the Items in a DictionaryÂ¶
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [6]:
#Python Program to Remove the Given Key from a Dictionary
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):a
Updated dictionary
{'b': 2, 'c': 3, 'd': 4}

In [8]:
#Python Program to add name and mark as key->value pair in a Dictionary and print it.
n=int(input("Enter no of records: "))
d={}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    mark=int(input("Enter mark %d: "%(i)))
    d[name]=mark
    print (d)

Enter no of records: 2
Enter name 1: sanketh
Enter mark 1: 23
{'sanketh ': 23}
Enter name 2: deeraj
Enter mark 2: 34
{'sanketh ': 23, 'deeraj': 34}

In [10]:
#How to sort a dictionary by values in Python
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]